<div class="panel panel-default">
	<div class="panel-heading">
	<%= image_tag profile_pic(tweet.user), size: 35, class: "user-pic-nav" %>
	<strong> <%= tweet.user.name %> </strong> @<%=link_to tweet.user.username, show_user_path(id: tweet.user.id) %>
	<%= time_ago_in_words(tweet.created_at) if Time.now - tweet.created_at < 186400 %> ago

	<%= tweet.created_at.strftime('%b%e') if Time.now - tweet.created_at > 186400 %>

	</div>

	<div class="panel-body">
	<%= tweet.message.html_safe %>
	</div>
</div>